@using BlazorTicketClientApp.Models
@using BlazorTicketClientApp.Services

@if(TicketModel == null)
{
	<p>ViewModel is null</p>
}
else
{
	<div class="ticket">
		<div class="ticket-info">
			<p>
				<strong class="ticket-title">@TicketModel.Title</strong>
				<em class="ticket-submit">Submitted by:</em> @TicketModel.SubtmittedBy
				<a class="ticket-link" href="/details/@TicketModel.Id">Read more</a>
			</p>
		</div>
		<div class="ticket-desc">
			<p><strong>Description: </strong>@TicketModel.Description</p>
		</div>
		<!--Resolved - displaya av vem och vad -->
		<div>
			<p>
				T. Nr: @TicketModel.Id: Resolved : @TicketModel.IsResolved 
			</p>
		</div>

	</div>
	
}


@code {
	[Parameter]
	public TicketViewModel? TicketModel { get; set; }

	// Sätt IsResolved till true om den har en respons annars false. För att användaren ska se om den är resolved eller ej.
	//public TicketViewModel? IsResolved;

	[Parameter]
	public bool IsResolved { get; set; } 

	private List<ResponseViewModel> responses;
	[Inject]
	private IResponsesService responsesService { get; set; }


}

